<table class="table table-hover table-inverse table-responsive">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Name</th>
      <th>Box</th>
    </tr>
  </thead>
  <tbody>
    <% if @matching_cards.present? %>
      <% @matching_cards.each do |card| %>
        <tr>
          <td><%= card.quantity %> x </td>
          <td><%= card.name %></td>
          <td><%= card.box %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>
          No results
        </td>
      </tr>
    <% end %>
  </tbody>
</table>