<div class="container-fluid">
  <div class="panel panel-body">
    <div class="panel panel-body">
      <h3 class="text-center">Search Magic Card Collection</h3>
    </div>
    <%= render 'magic/search_form' %>
    <%= render 'magic/matching_cards' %>
  </div>
</div>