<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="panel panel-heading">Mana Server</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="panel panel-body">
        <h1 class="text-center">Welcome to Patrick's Magic the Gathering Server</h1>
        <%= render 'magic/cards' %>
      </div>
    </div>
  </div>
</div>