<% if flash[:success] %>
  <div class="alert alert-success alert-dismissable">
    <%= flash[:success] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% else %>
  <div class="alert alert-danger alert-dismissable">
  <%= flash[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>