<div class="panel panel-body">
  <div class="container" id="add-cards-form">
    <%= render partial: 'transaction/transaction_messages' %>
    <div class="row">
      <div class="col-8 h4">Name</div>
      <div class="col-2 h4">Quantity</div>
      <div class="col-1 h4">Box</div>
      <div class="col-1 h4">Remove</div>
    </div>
    <div id="user-card-entries">
      <%= render partial: 'transaction/user_cards' %>
    </div>
  </div>
  <button class="btn btn-info m-2" type="button" onclick="addCardEntry()">+Add card entry</button>
  <button class="btn btn-success float-right m-2" type="button" onclick="completeTransaction()">Submit</button>
</div>