<div class="row">
  <% if flash[:error].present? %>
    <div class="col-12">
      <div class="alert alert-danger">
        Error!
        <br />
        <% flash[:error].each do |error_message| %>
          <%= error_message %><br />
        <% end %>
      </div>
    </div>
  <% elsif flash[:notice].present? %>
    <div class="col-12">
      Awesome!
      <br />
      <div class="alert alert-success">
        <%= flash[:notice] %><br />
      </div>
    </div>
  <% end %>
</div>