.background-black{
  background-color: black;
}

.carousel-item {
  text-align: center;
}

img {
  margin: 0 auto;
  padding-right: 2px;
}

.carousel-indicators {
  bottom:-50px;
}

a {
  text-decoration: none;
}

.table {
  margin-top: 10px;
}