<!DOCTYPE html>
<html>
  <head>
    <title>ManaServer</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <a class="navbar-brand" href="/magic">Mana Server</a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Metrics</a>
        <a class="nav-item nav-link" href="/transaction">Transactions</a>
        <a class="nav-item nav-link" href="#">Decks</a>
        <a class="nav-item nav-link" href="#">Traders</a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
